.Score {
    background: lightgrey;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    position: absolute;
    top: 2em;
    left: 2em;
    color: black;
}

.Score:hover {
    cursor: pointer;
}